node_modules/
.expo/
dist/
npm-debug.*
android/.cxx/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/gradle/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
